@import "stylesheets/home.css";

@media only screen and (max-width: 480px) {
  main section > h1 {
    display: none;
  }

  main section {
    height: 100vh;
  }
}

body {
  background-color: aqua;
  margin: unset;
  height: 100%;
  font-family: "Source Code Pro for Powerline", monospace;
}

main {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

main section {
  display: flex;
  flex-direction: row;
}

main section > h1 {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  width: 2em;
  height: 100%;
  text-align: center;
  margin: unset;
  pointer-events: none;
}

.content {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  display: none;
  box-sizing: border-box;
}

.active {
  width: 100%;
}

.active > .content {
  display: flex;
}
