body {
  margin: unset;
}

main {
  display: flex;
  flex-direction: row;
}

main section {
  display: flex;
  flex-direction: row;
}

main section h1 {
  writing-mode: sideways-lr;
  background-color: aliceblue;
  width: 2em;
  height: 100%;
  text-align: center;
  margin: unset;
  pointer-events: none;
}

.content {
  background-color: aqua;
  width: calc(100%);
  display: none;
}

.active {
  width: 100%;
}

.active > .content {
  display: block;
}
