@media only screen and (min-width: 1024px) {
  .home .content h1,
  .home .content b {
    font-size: 2.4em;
  }

  .home .content p {
    font-size: 1.3em;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .home .content h1,
  .home .content b {
    font-size: 2em;
  }
}

@media only screen and (max-width: 768px) {
  .home .content h1,
  .home .content b {
    font-size: 1.5em;
  }
}

.home .content {
  flex-direction: column;
  align-items: flex-start;
  padding: 4em;
  font-size: 1em;
}

.home .fab {
  padding: 0.3em;
  font-size: 2.5em;
  text-decoration: none;
  color: black;
}

.home .fab:hover {
  opacity: 0.6;
}
